
.filter{
    @include display-column;
    width: 100%;
    align-items: center;
    justify-content: center;
    & > *{
        margin: 1em 0;
    }

    input, select{
        margin: 0 .7em;
    }

    input[type="radio"]{
        margin: 0 .5em;
    }
    
}
