
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');


:root{
    --primary-background: #FBF8F1;
    --secondary-background: #E9DAC1;
    --highlight: #F7ECDE;
    // --highlight2: #54BAB9;
    --highlight2: #5089C6;
    --font-color: #222;
    --font: 'Montserrat', sans-serif;
    // --primary-background: #171717;
    // --secondary-background: #444444;
    // --highlight: #334756;
    // // --highlight2: #54BAB9;
    // --highlight2: #FF4C29;
    // --font-color: #EDEDED;
}

@mixin display-column {
    display: flex;
    flex-direction: column;
}


// $theme-colors: (
//     "primary": green
// );

@import "~bootstrap/scss/bootstrap";
