@import "./general.scss";
@import "./card.scss";
@import "./forms.scss";
@import "./chat.scss";
@import "./tags.scss";


.app, body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-background);
    color: var(--font-color);
}

.app, body, button, input, textarea, select, option{
    font-family: var(--font);
}

.app, form, .homepage, .book-details{
    @include display-column;
}

.homepage{
    max-width: 1000px;
}

form{
    width: 300px;
}

nav{
    width: calc(100% - 2em);
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-background);
    a{
        color: var(--font-color);
        text-decoration: none;
        &:hover{
            color: var(--highlight2);
        }
    }
}

.navbar{
    width: 100%;
}

h2{
    align-self: center;
}

img{
    max-width: 200px;
}

button, input, textarea{
    padding: .7em;
    border: none;
    border-radius: 3px;
    // color: var(--font-color);
    // background-color: var(--highlight);
}

button {
    font-size: 1em;
    &:hover{
        color: var(--highlight);
        background-color: var(--highlight2);
        cursor: pointer;
    }
}



a{
    padding: .5em;
    margin: .2em;
    color: var(--highlight2);
}

.homepage{
    max-width: 1000px;
    margin: 1em auto;
    align-items: center;
}

.login{
    button{
        margin-top: 1em;
    }
}

.book-details{
    
    .description {
        margin-top: 1em;
    }
}

.description{
    text-align: justify;
}

button{
    line-height: 1.4;
}

.page-item{
    .page-link{
        color: var(--font-color);
        background-color: var(--secondary-background);
        border: none;
    }
    
}